.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
node_modules/**
out/**
coverage/**
.git
.gitignore
.vscodeignore
**/tsconfig*.json
tsup.config.ts
vitest.config.ts
**/*.vsix
**/*.map
**/*.ts
**/.DS_Store
